In [18]:
from MyLogger import Logger

In [29]:
logger = Logger("./test")

In [30]:
logger.set_title("test_log2")

In [40]:
logger.add_log("Accuracy", 10)
logger.add_log("Model1", "test a")
logger.add_log("Model3", "test a")
logger.add_log("Model2", "test a")
logger.add_log("Model4", "test a")
logger.add_log("Model3", "test a")
logger.add_log("Model5", "test a")

In [41]:
logger.save_log(delimiter=",")

save log successfully.
./test//log-0007.txt

In [42]:
import pandas as pd

pd.read_csv("./test/test_log2/log-0007.txt")

        key      log
0  Accuracy       10
1     Model   test a
2    Model1   test a
3    Model3   test a
4    Model2   test a
5    Model4   test a
6    Model5   test a